body{
  font-family:sans-serif;

}

.hero{
  background: linear-gradient(150deg,pink,purple);
}


#titles{
  text-align: center;
  color: white;
  font-weight: 300px;
  font-size: 45px;
  margin-top: 2%;
}
#subtitle{
  text-align: center;
  color: white;
  font-weight: 30;
  font-size: 18px;
}
#iphonex{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#logo{
  position: absolute;
  float: left;
  margin-top: 30px;
  margin-left: 20px;

}

.topnav{
  display: inline-block;
  float: right;
  width: 55%;
  margin-top: 12%;
  font-size: 18px;
}

.topnav a{
  padding: 20px 20px;
  color: #473c3d;
}

.topnav a:hover{
  color: grey;
}


#clients_parent{
  text-align: center;
}
#clients{
  width: 70%;
  padding-top: 2em;
  padding-bottom: 2em;
}

.small{
  display: block;
  text-align: center;
  color:grey;
  font-size: 13px;
}

.sushi{
  background-color:#d287eb2e;
}

.big{
  display: block;
  text-align: center;
  color: #5702a5;
  font-size: 30px;
}



.box1{
  display: inline-block;
  float: left;
  background-color: white;
  width:20%;
  height:50%;
  margin-left: 10%;
  margin-bottom: 5%;
}

.box2{
  display: inline-block;
  background-color: white;
  width:20%;
  height:50%;
  margin-left: 10%;
  margin-bottom: 5%;
}

.box3{
  display: inline-block;
  background-color: white;
  width:20%;
  height:50%;
  margin-left: 10%;
  margin-bottom: 5%;
}

.bf{
  position: relative;
  float: left;
  margin-right: 12px;
  margin-top: 10px;
  margin-left: 8px;
  width:30px;
  height:30px;
}
.bf::before

.simple{
  color: #5702a5;
  position:absolute;
  margin-top: 10%;
  font-size: 25px;
}

.text1{
  margin-left:20%;
  font-size: 15px;
  color: grey;
}

.white{
  background-color: white;
}

#persp{
  display: block;
  float: left;
  width: 50%;
  margin-top: 10%;
}

#discovery{
  display: inline-block;
  width: 49%;
  float: right;
  font-size: 310%;
  color: #5702a5;
  margin-right: 1%;
  margin-top: 8%;
}

#details{
  display: inline-block;
  float: right;
  width:32%;
  margin-right: 17%;
  font-size: 15px;
  color: grey;
  text-align: left;
}

#read{
  display: inline-block;
  float: right;
  margin-top: 1%;
  margin-right: 31%;
  background-color:#db3f71b5;
  border-radius: 5px;
  width: 8%;
  text-align: center;
  color: white;
  font-size: 80%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

  .modalcont {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height:20%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.place{
  background-color:#d287eb2e;
  display: block;
  float: left;
  width: 100%;
}

.small2{
  display: block;
  margin-top: 3%;
  text-align: center;
  color:grey;
  font-size: 13px;
}

.btn{
  display: block;
  margin-top: 5%;
  padding-left: 15%;

}

.subtxt{
  color: pink;
  font-size: 100%;
}

.tab-pane{
  display: inline-block;
  margin: auto;
  width: 75%;
}

.firstline{
font-size: 2rem;
color: purple;
font-weight: 100;
}

.grey{
  color: grey;
  font-size: 92%;
}
